
<h1>Eat-Da-Burger</h1>
<div class="main">

<img class="burgerImg" src="/images/burger.png" alt="Picture of a big burger">
</div>
<h2>Enter a burger you would like to eat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger:</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add burger</button>
</form>